<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancha</title>
    <link rel="stylesheet" href="{% static 'css/estilos_cancha.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<header>
    
    <div class="contenedor_cancha">
        <a href="{% url 'Home' %}" class="btn btn-1">Inicio 
            <span></span>
                <span></span>
            </a>
            <a href="{% url 'Cancha' %}" class="btn btn-2">Cancha
                <span></span>
                <span></span>
            </a>
            <a href="{% url 'Equipo' %}" class="btn btn-3">Equipo
                <span></span>
                <span></span>
            </a>
            <a href="{% url 'Simular' %}" class="btn btn-4">Torneo
                <span></span>
                <span></span>
            </a>
            <a href="{% url 'Opciones' %}" class="btn btn-4">Opciones
                <span></span>
                <span></span>
            </a>
            
        </div>
    </header>
    
<body>
    
    {% block cancha %}
        
    {% endblock cancha %}
        

</body>
</html>