<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hola mundo</p>
    <p>{{mensaje}}</p>
    {% for jugador in lista %}
        <p>{{jugador}} {{jugador.posicion}}</p>
    {% endfor %}
        
    {% for jugador in lista %}
    <div class="jugador {{ jugador.filter_posicion_display }}">
        <div class="con_p">
            <p class="puntaje">91</p>
        </div>
    {{ jugador.nombre }} 
    {% endfor %}

</body>
</html>